* {
  margin: 0;
  padding: 0;
}

.knjige-div {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 150px;
    grid-column-gap: 300px;
    justify-content: center;
    margin-top: 100px;
}

#slika-main {
  height: 250px;
  width: 250px;
  margin-left: 50px;
}

.div-f{
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
}

.el-frm{
  margin-top: 10px;
  font-size: 18px;
}

#s-bn{
  width: 600px;
}

#d-knjigu{
  margin-top: 50px;
  margin-bottom: -70px;
  margin-left: 50px;
  width: 250px;
  font-size: 20px;
}

#register-nm{
  margin-top: 5px;
  margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}

nav {
  display: flex;
  border-bottom: 2px solid red;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: black;
}

#login-nm{
   margin-top: 5px;
   margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}

.nav-div{
  width: 1000px;
  margin-left: 500px;
  margin-top: 15px;
}

#search-nm{
   margin-top: 5px;
   margin-left: 20px;
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}

.sr-div {
  display: flex;
}

#s-f-m{
  margin-top: 80px;
  margin-left: 680px;
  width: 500px;
  height: 45px;
}

#b-p{
  height: 45px;
  margin-top: 80px;
  margin-left: 30px;
  width: 180px;
  font-size: 20px;
}

.pret-div{
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-row-gap: 300px;
    grid-column-gap: 300px;
    justify-content: center;
    margin-top: 100px;
}

#slika-search{
  margin-left: 100px;
  width: 100px;
  height: 100px;
}

#pocetna-nm{
   margin-top: 5px;
   margin-left: 260px;
  font-size: 30px;
  text-decoration: none;
  list-style-type: none;
}

#lgt {
  margin-top: 8px;
  margin-left: 150px;
  width: 180px;
  height: 40px;
}

#src {
  width: 350px;
  margin-left: 10px;
  margin-top: 53px;
  margin-bottom: -65px;
}

#btn-s{
  margin-left: 370px;
  margin-top: 25px;
  font-size: 18px;
}