* {
  margin: 0;
  padding: 0;
}

.knjige-div {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 150px;
    grid-column-gap: 300px;
    justify-content: center;
    margin-top: 100px;
}

#slika-main {
  height: 250px;
  width: 250px;
  margin-left: 50px;
}

